$sprite: sprite-map("images/*.png");
$names: sprite-names($sprite);

.inline {
  border-radius: 1px;
  background: url(./images/loading1.png) 0 0 no-repeat;
  background-image: linear-gradient(to right, #0a1176, #281059);
}

.bs {
  font-size: 12px;
  transition: all 1s ease;
  width: #{sprite-width($sprite)}px;
  height: #{sprite-height($sprite)}px;

  @each $name in $names {
    &.#{$name} {
      width: #{sprite-width($sprite, $name)}px;
      height: #{sprite-height($sprite, $name)}px;
      background: sprite($sprite, $name) no-repeat;
      background-position: -#{sprite-position-x($sprite, $name)}px -#{sprite-position-y($sprite, $name)}px;
    }
  }
}