$sprite: sprite-map('image/*.png');
$names: sprite-names($sprite);

.bg {
  font-size: 12px;

  @each $name in $names {
    .#{$name} {
      background: sprite($sprite, $name) no-repeat;
    }
  }
}

.lt15kb {
  background-image: url("./base64/lt15kb.png");
}

.gt15kb {
  background-image: url("./base64/gt15kb.png");
}

.jpgtest {
  background-image: url("./base64/jpgtest.jpg");
}