@import "style.css";

$sprite: sprite-map("image/*.png");
$names: sprite-names($sprite);

$leftright: sprite-map("leftright/*.png", "left-right");
$name2: sprite-names($leftright);

$filepath: sprite-map("filepath/images/*.png");
$names3: sprite-names($filepath);

.bg4 {
  font-size: 12px;
  transition: all 1s ease;

  @each $name in $names {
    .#{$name} {
      width: #{sprite-width($sprite, $name)}px;
      height: #{sprite-height($sprite, $name)}px;
      background: sprite($sprite, $name) no-repeat;
      background-position: -#{sprite-position-x($sprite, $name)}px -#{sprite-position-y($sprite, $name)}px;
    }
  }
}

.left-right {
  font-size: 12px;

  @each $name2 in $name2 {
    .#{$name2} {
      background: sprite($leftright, $name2) no-repeat;
    }
  }
}

.filepath {
  background-image: sprite-url($filepath);

  @each $name3 in $names3 {
    .#{$name3} {
      background: sprite($filepath, $name3) no-repeat;
    }
  }
}

.lt15kb {
  background-image: url("./base64/lt15kb.png");
}

.gt15kb {
  background-image: url("./base64/gt15kb.png");
}

.jpgtest {
  background-image: url("./base64/jpgtest.jpg");
}

.inline {
  background-image: url("./base64/inline.png?__inline");
}