{
  "root": true,
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "easepack": true
  },
  "rules": {
    "semi": 0,
    "new-cap": 0,
    "no-console": 0,
    "spaced-comment": 0,
    "space-before-function-paren": 0
  }
}
