@import "~mixins";

.easepack-title {
  @include center-block();
  max-width: 420px;
  padding: 120px 0;
}

.ui-vue-spinner {
  &.static {
    position: static;
    @include translate(0, 0);
  }
}

a.trigger {
  font-size: 12px;
  cursor: pointer;
}

div.sidebar-toggle {
  z-index: 700;
}

header.header.is-fixed {
  z-index: 999;
}

.weui-dialog__ft {
  .weui-dialog__btn.weui-dialog__btn_primary {
    color: #0BB20C;
  }
}

.vux-popup-mask.vux-popup-show {
  z-index: 1000 !important;
}

div.vux-popup-dialog {
  z-index: 1001;
}

.inline-calendar {
  max-width: 372px;
}

.nav-item-dropdown {
  cursor: pointer;
}