@import "~mixins";

// @import "~fontello";

.markdown-body hr {
  margin: 35px 0 !important;
}

#app {
  .main {
    font-size: 90%;
    max-width: none;
  }

  .page {
    border: none;
    max-width: none;
  }

  .header {
    padding: 0;
  }

  .header-container {
    max-width: 860px;
  }

  .sidebar {
    width: 300px;
    background: #343131;
  }

  .search-form {
    height: auto;
    padding: 12px;
    background: #2980B9;

    .svg-icon {
      top: 5px;
      margin-right: 8px;
    }
  }

  .search-box {
    font-size: 80%;
    padding: 6px 12px;
    border-radius: 50px;
    border-color: #2472a4;
  }

  .sidebar-headings .sidebar-heading[data-level="2"] .sidebar-heading-anchor {
    font-size: 90%;
    color: #b3b3b3;

    &.active, &:hover {
      color: #42b983;
    }
  }

  .content {
    margin: 0 auto;
    max-width: 860px;
  }

  .sidebar-toggle {
    width: 278px;
  }
}

.nav-item {
  margin-right: 25px;

  .router-link {
    width: 54px;
    text-align: center;
  }
}

// #sidebar {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 200px;
//   background-color: #171717;
// }

.easepack-title {
  @include center-block();
}

.ui-vue-spinner {
  &.static {
    position: static;
    @include translate(0, 0);
  }
}

a.trigger {
  font-size: 12px;
  cursor: pointer;
}

div.sidebar-toggle {
  z-index: 700;
}

header.header.is-fixed {
  z-index: 999;
}

.weui-dialog__ft {
  .weui-dialog__btn.weui-dialog__btn_primary {
    color: #0BB20C;
  }
}

.vux-popup-mask.vux-popup-show {
  z-index: 1000 !important;
}

div.vux-popup-dialog {
  z-index: 1001;
}

.inline-calendar {
  max-width: 372px;
}

.nav-item-dropdown {
  cursor: pointer;
}

// .vux-my-picker {
//   margin-bottom: 30px;
//   border: 1px solid #d0d0d0;
//   border-radius: 5px;
// }

.lottery-round {
  .weui-dialog {
    width: auto;
    max-width: none;
  }
}

.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  &:after {
    content: "Example";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
  }
}